<h1>Create a character</h1>

<%= form_for(@character) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.label(:age) %>
  <%= f.number_field(:age) %>
  <%= f.label(:gender) %>
  <%= f.text_field(:gender) %>
  <%= f.label(:house_id) %>
  <%= f.collection_select(:house_id, @houses, :id, :name) %>
  <%= f.label(:agility) %>
  <%= f.number_field(:agility) %>
  <%= f.label(:animal_handling) %>
  <%= f.number_field(:animal_handling) %>
  <%= f.label(:athletics) %>
  <%= f.number_field(:athletics) %>
  <%= f.label(:awareness) %>
  <%= f.number_field(:awareness) %>
  <%= f.label(:cunning) %>
  <%= f.number_field(:cunning) %>
  <%= f.label(:deception) %>
  <%= f.number_field(:deception) %>
  <%= f.label(:endurance) %>
  <%= f.number_field(:endurance) %>
  <%= f.label(:fighting) %>
  <%= f.number_field(:fighting) %>
  <%= f.label(:healing) %>
  <%= f.number_field(:healing) %>
  <%= f.label(:language) %>
  <%= f.number_field(:language) %>
  <%= f.label(:knowledge) %>
  <%= f.number_field(:knowledge) %>
  <%= f.label(:marksmanship) %>
  <%= f.number_field(:marksmanship) %>
  <%= f.label(:persuasion) %>
  <%= f.number_field(:persuasion) %>
  <%= f.label(:status) %>
  <%= f.number_field(:status) %>
  <%= f.label(:stealth) %>
  <%= f.number_field(:stealth) %>
  <%= f.label(:survival) %>
  <%= f.number_field(:survival) %>
  <%= f.label(:thievery) %>
  <%= f.number_field(:thievery) %>
  <%= f.label(:warfare) %>
  <%= f.number_field(:warfare) %>
  <%= f.label(:will) %>
  <%= f.number_field(:will) %>
  <%= f.label(:is_alive) %>
  <%= f.check_box(:is_alive) %>
  <%= f.hidden_field(:user_id, :value => current_user.id) %>
  <%= f.submit %>
<% end %>
