<h1><%= @character.name %>'s Character Sheet</h1>
<a href="/characters">Go Back</a>

<%= link_to "edit_character", edit_character_path(@character) %>

<ul>Alive?:  <%=@character.is_alive%></ul>
<ul>Name: <%=@character.name%></ul>
<ul>House: <%=@character.house.name%></ul>
<ul>Age:  <%=@character.age%></ul>
<ul>Agility: <%=@character.agility%></ul>
<ul>Animal Handling: <%=@character.animal_handling%></ul>
<ul>Athletics: <%=@character.athletics%></ul>
<ul>Awareness: <%=@character.awareness%></ul>
<ul>Cunning:  <%=@character.cunning%></ul>
<ul>Deception:  <%=@character.deception%></ul>
<ul>Endurance:  <%=@character.endurance%></ul>
<ul>Fighting:  <%=@character.fighting%></ul>
<ul>Healing:  <%=@character.healing%></ul>
<ul>Language:  <%=@character.language%></ul>
<ul>Knowledge:  <%=@character.knowledge%></ul>
<ul>Marksmanship:  <%=@character.marksmanship%></ul>
<ul>Persuasion:  <%=@character.persuasion%></ul>
<ul>Status:  <%=@character.status%></ul>
<ul>Stealth:  <%=@character.stealth%></ul>
<ul>Survival:  <%=@character.survival%></ul>
<ul>Thievery:  <%=@character.thievery%></ul>
<ul>Warfare:  <%=@character.warfare%></ul>
<ul>Will:  <%=@character.will%></ul>

<a href="https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/drive&redirect_uri=http://127.0.0.1:3000/oauth&response_type=code&client_id=<%=ENV['GOOGLE_CLIENT_ID']%>">Sign in to Google</a>

<%= button_to "Export to Google", {:action => "export", :controller => "characters"} %>
